/*
@font-face {
	font-family: Vitesse;
	font-weight: bold;
	src: url('fonts/Vitesse-Bold.otf');
}

*/

body {
	background: #DDD;
	font-family: Helvetica, Arial, sans-serif;
}

.container {
padding-right: 20px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}


#navigation {
	font-family: Vitesse, Helvetica;
	font-size: 24px;
	color: white;
	line-height: 1.5;
	padding-left: 20px;
}

#navigation li {
	position: relative;
	top: 50px;
}

#navigation img {
	position: relative;
	top: 10px;
}


#sidebar {
	background: none repeat scroll 0 0 #94979D;
	    bottom: 100px;
	    height: 500px;
	    position: absolute;
	    width: 200px;
}

#choices {
	width: 700px;
	
}


#circle, #circle-2{
width:200px;
height:200px;
display:block;
border-radius:100px;
-moz-border-radius:100px;
-webkit-border-radius:100px;
background:#0a59d0;
font-size:55px;
font-family: Vitesse;
font-weight: bold;
color:#fff;
line-height:200px;
text-align:center;
}

#circle-2 {
	background: #aa0909;
	bottom: 197px;
	position: relative;
	left: 450px;
}
