/*
@font-face {
	font-family: Vitesse;
	font-weight: bold;
	src: url('fonts/Vitesse-Bold.otf');
}

*/

@font-face {
    font-family: 'Variable Regular';
    src: url('../fonts/variable_regular-webfont.eot');
    src: url('../fonts/variable_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/variable_regular-webfont.woff') format('woff'),
         url('../fonts/variable_regular-webfont.ttf') format('truetype'),
         url('../fonts/variable_regular-webfont.svg#VariableRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	font-variant: normal;

}

@font-face {
    font-family: 'VariableLtLight';
    src: url('../fonts/variable_light-webfont.eot');
    src: url('../fonts/variable_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/variable_light-webfont.woff') format('woff'),
         url('../fonts/variable_light-webfont.ttf') format('truetype'),
         url('../fonts/variable_light-webfont.svg#VariableLtLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VariableBold';
    src: url('../fonts/variable_bold-webfont.eot');
    src: url('../fonts/variable_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/variable_bold-webfont.woff') format('woff'),
         url('../fonts/variable_bold-webfont.ttf') format('truetype'),
         url('../fonts/variable_bold-webfont.svg#VariableBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* 
@font-face {
    font-family: 'Hattori-Hanzo-Light';
    src: url('public/fonts/Hattori_Hanzo-webfont.eot');
	src: local('☺'),
    src: url('public/fonts/Hattori_Hanzo-webfont.woff') format('woff'),
         url('public/fonts/Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('public/fonts/Hattori_Hanzo-webfont.svg#HattoriHanzoLight') format('svg');
    	font-weight:normal;
		      font-style:normal;
		      font-variant:normal;

}

@font-face {
    font-family: 'HattoriHanzoLightItalic';
    src: url('public/fonts/Hattori_Hanzo_Italic-webfont.eot');
	src: local('☺'),
    src: url('public/fonts/Hattori_Hanzo_Italic-webfont.woff') format('woff'),
         url('public/fonts/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'),
         url('public/fonts/Hattori_Hanzo_Italic-webfont.svg#HattoriHanzoLightItalic') format('svg');
   		font-weight:normal;
		      font-style:normal;
		      font-variant:normal;
}

*/
html {
/*	overflow-y: auto;
*/	background-color: transparent;
}

body {
	background: #deddd8;
	font-family: 'Variable Regular', Arial, sans-serif;
	font-size: 16px;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* --- This is your entire scrollbar unit. Webkit-scrollbar accepts width and height for the scrollbar. 

::-webkit-scrollbar {
width: 10px;
height: 10px;
}

/* --- This is your entire scrollbar unit. Webkit-scrollbar accepts width and height for the scrollbar.

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 60px;
display: block;
background-color: transparent;
}

/* --- This is the little button at the start and end of the scrollbar. You can style this as you would any other object. 

::-webkit-scrollbar-track-piece  {
background-color: #b6b5b5;
-webkit-border-radius: 6px;
width: 5px;
}

/* --- This is the thin background upon which your scrollbar moves in. The gutter. 

::-webkit-scrollbar-thumb:vertical {
height: 20px;
background-color: white;
border: 1px solid #eee;
-webkit-border-radius: 6px;
}

--- */

h2 {
	font-size: 24px;
}

.container {
padding-right: 20px;
height: 5000px;
}

.row {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

#sidebar {
	left: 0;
	top: 0;
	position: fixed;
	width: 265px;
	height: 100%;
	background: url(../images/grid_pattern_03.png) repeat-y;
}

	#sidebar img {
		position: relative;
		top: 40px;
		left: 22px;
	}
	
/* ----- Navigation CSS ------ */


nav {
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	font-weight:300;
	font-stretch:normal;
	font-size: 24px;
	color: white;
	line-height: 2;
	padding-left: 20px;
	background: url(../images/grid_pattern_03.png) repeat-y;
	position: relative;
	top: 45px;
}

	nav li {
		position: relative;
		top: 50px;
		list-style-type: none;
		text-transform: uppercase;
	}

		nav li a {
			font-family: Variable, Helvetica, sans-serif;
			text-decoration: none;
			color: white;
			text-shadow: 1px 1px 2px #000;
			font-weight: bold;
			padding-left: 10px;
			padding-right: 55px;
			padding-top: 3px;
		}
			
			nav li a#first, a#second, a#third, a#fourth, a#fifth, a#sixth, a#seventh  {
				text-shadow: 1px 1px 2px rgba(10, 89, 208, .5);	
			}
			
				.current {
					background: url(../images/nav_hover_03.png) no-repeat;
					width: 197px;
					height: 39px;
					z-index: 1;
				}
				
				nav li a#first {
					padding-left: 30px;
					padding-right: 103px;
					padding-top: 9px;
					padding-bottom: 2px;
					margin-left: -20px;
				}
				
				nav li a#second {
					padding-left: 30px;
					padding-right: 103px;
					padding-top: 9px;
					padding-bottom: 2px;
					margin-left: -20px;
				}
				
				nav li a#third {
					padding-left: 30px;
					padding-right: 114px;
					padding-top: 9px;
					padding-bottom: 2px;
					margin-left: -20px;
				}
				
				nav li a#fourth {
					padding-left: 32px;
					padding-right: 93px;
					padding-top: 9px;
					padding-bottom: 2px;
					margin-left: -23px;
				}
				
				nav li a#fifth {
					padding-left: 30px;
					padding-right: 113px;
					padding-top: 9px;
					padding-bottom: 2px;
					margin-left: -20px;
				}
				
				nav li a#sixth {
					padding-left: 35px;
					padding-right: 103px;
					padding-top: 9px;
					padding-bottom: 2px;
					margin-left: -24px;
				}
				
				nav li a#seventh {
					padding-left: 33px;
					padding-right: 143px;
					padding-top: 9px;
					padding-bottom: 2px;
					margin-left: -24px;
				}
	
				
/* ----- End of Navigation CSS ------ */

.section {
	padding-bottom: 1000px;
	padding-left: 250px;
}

img {
	max-width: 100%;
}

		
/* Question Section CSS */

#question {
	padding-top: 100px;
	text-align: center;
	
}

	#question img {
		max-width: 100%;
		margin: 0 auto;
	}
	
	#choices {
		margin: 0 auto;
		position: relative;
		right: 50px;
	}
	
	#circle, #circle-2 {
		width:200px;
		height:200px;
		display:block;
		border-radius:100px;
		-moz-border-radius:100px;
		-webkit-border-radius:100px;
		font-size:55px;
		font-family: Vitesse;
		font-weight: bold;
		color:#fff;
		line-height:200px;
		text-align:center;
		text-shadow: 1px 2px 2px #000;
		text-transform: uppercase;
	}

	
	#circle {
		background:	rgb(69, 18, 237);
		position: relative;
		left: 220px;
		text-decoration: none;
		top: 50px;
	}
	
		#circle a:hover {
			background: rgb(12, 36, 122);
		}
	
	#circle-2 {
		background: rgb(214, 12, 43);
		left: 550px;
		position: relative;
		text-decoration: none;
		bottom: 153px;
	}
		#circle-2 a:hover {
			background: rgb(183, 12, 43);
		}


			#choices a {
			text-decoration: none;
				-webkit-transition: all 1s ease-in-out;
				-moz-transition: all .5s ease-in-out;
				-o-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				transition: all 1s ease-in-out;
				}
				
		
				#choices a:hover {
					font-size: 60px;
				}
		
		
		/* For Demo Purposes Only

		#cf2 {
				position:relative;
				height:281px;
				width:450px;
				margin:0 auto;
			}

		#cf2 img {
				position:absolute;
				left:0;
				-webkit-transition: opacity 1s ease-in-out;
				-moz-transition: opacity 1s ease-in-out;
				-o-transition: opacity 1s ease-in-out;
				-ms-transition: opacity 1s ease-in-out;	
				transition: opacity 1s ease-in-out;
			}

		#cf2 img.transparent {
				opacity:0;
		}

		#cf_onclick {
				cursor:pointer;
		}

		/* End of Demo */

		/*

		#choices-yes {
				width: 250px;
				position: relative;
				top: 50px;
				margin: 0 auto;
				right: 164px;
		}
		/*
				#choices-yes:hover {
					background: url(../images/yes_arrow_03.png) no-repeat;
				}

				#choices-yes img.top:hover {
					opacity: 0;
				}


			/* 

				#choices-yes img {
					position:absolute;
					left:0;
					-webkit-transition: opacity 1s ease-in-out;
					-moz-transition: opacity 1s ease-in-out;
					-o-transition: opacity 1s ease-in-out;
					-ms-transition: opacity 1s ease-in-out;	
					transition: opacity 1s ease-in-out;
				}






				#choices-yes img.transparent {
					opacity:0;
				}

				#choices-yes_onclick {
					cursor: pointer;
				}

		*/

		/*

			#choices-yes a:hover {
				/*background: url(../images/yes_arrow_03.png) no-repeat;
				height: 1300px;
				position: relative;
				bottom: 200px;
				left: 5px;
			}

		*/


		/*

			#choices-no {
				width: 300px;
				position: relative;
				top: -126px;
				margin: 0 auto;		
			}

	
	#choices-yes a:hover, #choices-no a:hover {
			font-size: 60px;
		}

*/


/* End Question Section CSS */

/* Start Home Section CSS */

#home {
	height: 800px;
}


	#home h2 {
		text-align: center;
	}

/* End Home Section CSS */

                            
/* Start What Section CSS */

#what {
	height: 800px;
}

/* --- End What Section CSS ----- */


/* Start Why Section CSS */

#why {
	height: 800px;
}

/* End Why Section CSS */


/* Start Chicago Section CSS */

#chicago {
	height: 800px;
}

/* End Chicago Section CSS */



/* Start Who Section CSS */

#who {
	
}

/* End Who Section CSS */





/* Start Pricing Section CSS */

#pricing {
	
}

/* End Pricing Section CSS */



/* Start Contact Section CSS */

#contact {
	
}

/* End Contact Section CSS */


