<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Code Academy - Pricing</title>
	<meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>

</body>

</html>