
  <div class="row">

      <h1><img src="images/question_03.png" alt="Do you want to be a BUILDER?" /></h1>

      <div id="choices">
          <div id="circle">Yes</div>
          <div id="circle-2">No</div>
      </div>
  
  </div>



