<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Do You Want To Be A Builder? - Code Academy</title>
	<meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="container">

  <div class="row">

  <h1><img src="images/question_03.png" alt="Do you want to be a BUILDER?" /></h1>

    <div id="choices">
      <div id="circle">Yes</div>
      <div id="circle-2">No</div>
    </div>
  </div>

</div>

</body>

</html>



