<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>So what exactly do you do? - Code Academy</title>
	<meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>

<div class="container">

  <div id="sidebar">
    <img src="images/ca_logo_white.png" alt="Code Academy" />
    <ul id="navigation">
    <li>Home</li>
    <li>What</li>
    <li>Why</li>
    <li>Chicago</li>
    <li>Who</li>
    <li>Pricing</li>
    <li>Contact</li>
  </ul>
</div>

</div>

</body>

</html>