<!DOCTYPE html>

<head>
  <meta charset="utf-8">

  <title>We Are Code Academy</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>

<div class="header-banner">
	<h3>“Do not go where the path may lead. Go instead where there is no path and leave a trail.” <strong>- Ralph Waldo Emerson</strong></h3>
	
</div>

<body id="index">


 <div id="container">
    
	<div id="main">
		
		<img src="images/newpic_03.png" alt="We Are Code Academy Chicago">
		
			
		
		<div id="signup">
			<p><strong>CODE ACADEMY</strong> is a lean educational institution for web application 
			development and entrepreneurial practice.</p>
			<p><em>Send us an email to be notified when we launch!</em></p>
      <a href="mailto:contact@codeacademy.org">contact@codeacademy.org</a>
			
      <!-- <form>    -->
        <!-- <p class="email"> -->
          <!-- <input type="text" name="email" id="email" /> -->
          <!-- <label for-"email">E-mail</label> -->
        <!-- </p> -->
      <!-- </form>   -->
		</div>

    </div>
	
  </div> <!--! end of #wrap -->

	<footer>

    </footer>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23721772-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
