.row
  #chicago.section
    %img{:alt => "I see those lips moving. What is Chicago Saying?", :src => "images/05_chicago.png"}/
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "349", :src => "http://www.youtube.com/embed/gJ6APKIjFQY", :width => "560"}