.row
  #community.section
    %img{:alt => "Community ", :src => "images/community_title_03.png"}/
    / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "349", :src => "http://www.youtube.com/embed/gJ6APKIjFQY", :width => "560"}
    %h1 Don't worry! We will have videos here soon.
    %p
      Community (Videos)

      Developers(JC, Dave Hoover, Thomas Ritchie)
      Entrepreneurs(Jessica Kim, Moshe, Desiree, Logan, Ben)
      Peers(Sarah, Nancy, Sandeep, Maggie, David, Mark)
      Investors(Bill, Greg, Troy)
