.row
  #crew.section
    /%img#crew-title{:alt => "Crew", :src => "images/crew_title_03.png"}/
    %h2 Schedule
    %h2 Learner Mode
    %ul#mentor-list
      %li Week 1: Intro to Code Academy and programming with Ruby
      %li Week 2: The basics of Ruby on Rails applications 
      %li Week 3: Running a Rails project and application
      %li Week 4: Getting your feet wet with sample projects and tutorials
      %li Week 5: Waist deep with sample projects and tutorials
      %li Week 6: Reviewing and refining what you’ve learned
      %li Week 7: Preparing for your own project
      %li Sarah Gray
    %h2 Start-Up Mode
    %ul#partner-list
      %li Week 8: Planning/Setup
      %li Week 9: UI Design
      %li Week 10: Coding the app
      %li Week 11: Polishing your prototype
      %li Week 12: Final presentation


