.row
  #crew.section
    %img#crew-title{:alt => "Crew", :src => "images/crew_title_03.png"}/
    %h2 Instructor - The Code Academy instructor...
    %p Jeff Cohen is an awesome dude that teaches and shit. He published a book.
    %h2 Mentors - Our mentors...
    %ul#mentor-list
      %li Eric Meyer
      %li Chad Pry 
      %li JC Grubbs
      %li Ginny Hendry
      %li Fred Ballard
      %li Dave Hoover
      %li Corey Haines
      %li Sarah Gray
    %h2 Partners
    %ul#partner-list
      %li Heroku
      %li Groupon
      %li Model Metrics
      %li Inventables
      %li Hashrocket
      %li Obtiva
      %li 8thlight
      %li Thoughtworks
      %li DRW
      %li WisdomGroup
      %li Enova Financial
      %li Excelerate Labs
      %li Lightbank
      %li New World Ventures
      %li Apex Ventures
      %li OCA Ventures
      %li Hyde Park Angels
      %li Wildcat Angels
      %li City of Chicago
    %h2 Staff
    %ul#staff-list
      %li Neal Sales-Griffin
      %li Mike McGee
      %li Claire Lew
      %li Maggie Jim

