.row
  #crew.section
  Instructor - The Code Academy instructor...

  Jeff Cohen is an awesome dude that teaches and shit. He published a book.
  
  Mentors - Our mentors...

  Eric Meyer
  Chad Pry 
  JC Grubbs
  Ginny Hendry
  Fred Ballard
  Dave Hoover
  Corey Haines
  Sarah Gray

  Partners

  Heroku
  Groupon
  Model Metrics
  Inventables
  Hashrocket
  Obtiva
  8thlight
  Thoughtworks
  DRW
  WisdomGroup
  Enova Financial
  Excelerate Labs
  Lightbank
  New World Ventures
  Apex Ventures
  OCA Ventures
  Hyde Park Angels
  Wildcat Angels
  City of Chicago

  Staff

  Neal Sales-Griffin

  Mike McGee

  Claire Lew

  Maggie Jim