.row
  #eligibility.section
    %img{:alt => "Eligibility", :src => "images/eligibility_title_03.png"}/
    %h1 { Does this sound like you? }
    %h2#passion You are passionate.
    %p You care about something. You have ideas burning inside you want to act on. There are issues that matter to you in your life.  It's not a question of why you would choose a particular problem to solve, but how.

    %h2 You are a novice.
    %p You do not consider yourself a software developer. You have written very little, if any, code, but recognize and value the ability to make things yourself.

    %h2 You are tenacious. 
    %p You can withstand the demand of a fast paced learning environment. You are diligent, focused and persistent in the acquisition of skills and knowledge. If you're quick to give up, this isn't for you. 

    %h2 You have capacity.
    %p You have "emptied your cup" and are ready to power up your skillset.

    /hours (mwf, 8am-12pm) 
    
    /Immersion (elaborate, Neal.)
    
    /Most programming bootcamps are 4-day workshops that range from $1500 - $3000. Others are classes that are 3 hours a week for 8 weeks, and most are online-only, where it's up to you


    /We have a different approach. We believe that a focused time investment is necessary in order to learn how to code. 

    /With 12 hours a week of hands-on instruction led by an experienced and renowned software developer, as well as an army of mentors from the top software development shops, startups and investment firms in Chicago and beyond, Code Academy is an unprecedented program that gives you access to some of the most influential people in the city.

    /location(chicago)

    /We are located at the heart of downtown Chicago. We will provide you with everything necessary for learning: computers, software, and an environment that emulates a startup.

    /cost($6000) 

    /Quote: "Do you want to spend the rest of your life selling sugar water or do you want a chance to change the world? - Steve Jobs"