.row
  #home.section
    %img{:alt => "Welcome to Code Academy", :src => "images/02_home.png"}/
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "349", :src => "http://www.youtube.com/embed/i8u6EodZseg", :rel => "shadowbox", :width => "560"}
    %h2#content
      Code Academy is an immersive, twelve-week program that teaches web application development and entrepreneurial practice to beginners.
