#sidebar
  %img{:alt => "Code Academy", :src => "images/color_logo_03.png"}/
  %nav
    / <li><haml:loud> link_to &amp;quot;Question&amp;quot;, question_path  </haml:loud></li>
    %li
      %a#first.nav_link{:href => "#wanted"} Wanted
    %li
      %a#second.nav_link{:href => "#skills"} Skills
    %li
      %a#third.nav_link{:href => "#eligibility"} Eligibility
    %li
      %a#fourth.nav_link{:href => "#crew"} Crew
    %li
      %a#fifth.nav_link{:href => "#community"} Community
    %li
      %a#sixth.nav_link{:href => "#apply"} Apply