#sidebar
  %img{:alt => "Code Academy", :src => "images/ca_logo_white_03.png"}/
  %nav
    / <li><haml:loud> link_to &amp;quot;Question&amp;quot;, question_path  </haml:loud></li>
    %li
      %a{:href => "#home"} Home
    %li
      %a{:href => "#what"} What
    %li
      %a{:href => "#why"} Why
    %li
      %a{:href => "#chicago"} Chicago
    %li
      %a{:href => "#who"} Who
    %li
      %a{:href => "#pricing"} Pricing
    %li
      %a{:href => "#contact"} Contact