#sidebar
  %img{:alt => "Code Academy", :src => "images/color_logo_03.png"}/
  %nav
    / <li><haml:loud> link_to &amp;quot;Question&amp;quot;, question_path  </haml:loud></li>
    %li
      %a#first.nav_link{:href => "#wanted"} Home
    %li
      %a#second.nav_link{:href => "#skills"} Instructors
    %li
      %a#third.nav_link{:href => "#eligibility"} Program
    %li
      %a#fourth.nav_link{:href => "#crew"} Schedule
    %li
      %a#fifth.nav_link{:href => "#community"} Location
    %li
      %a#sixth.nav_link{:href => "#apply"} Partners
    %li
      %a#seventh.nav_link{:href => "#apply"} Apply