#sidebar
  %img{:alt => "Code Academy", :src => "images/new_logo_03.png"}/
  %nav
    / <li><haml:loud> link_to &amp;quot;Question&amp;quot;, question_path  </haml:loud></li>
    %li
      %a#first.nav_link{:href => "#home"} Home
    %li
      %a#second.nav_link{:href => "#what"} What
    %li
      %a#third.nav_link{:href => "#why"} Why
    %li
      %a#fourth.nav_link{:href => "#chicago"} Chicago
    %li
      %a#fifth.nav_link{:href => "#who"} Who
    %li
      %a#sixth.nav_link{:href => "#pricing"} Tuition
    %li
      %a#seventh.nav_link{:href => "#contact"} Apply