.row
  #pricing.section
    %img{:alt => "I'm halfway broke. How Much Does This Cost?", :src => "images/07_pricing.png"}/
    %h2
    Bang >> Buck.
    %p
      Tuition costs $6000. It might seem like a lot, but here's what you get in exchange.
    %ol
      %li => Individualized learning
      %li => Access to space outside of class time
      %li => World-class instruction
      %li => Mentorship from software developers
      %li => All hardware + software included
      %li => Access to all optional workshops
      %li => Access to networking opportunities through Chicago