.row
  #question.section
    %h1
      %img{:alt => "Do you want to be a BUILDER?", :src => "images/new_question_03.png"}/
    #choices
      %a#circle{:href => "#"}
        %span.zero Yes
      %a#circle-2{:href => "#"}
        %span.zero No
