#slideshow
  %ul.slides
    %li
      %img{:alt => "Marsa Alam underawter close up", :height => "320", :src => "images/photos/1.jpg", :width => "620"}/
    %li
      %img{:alt => "Turrimetta Beach - Dawn", :height => "320", :src => "images/photos/2.jpg", :width => "620"}/
    %li
      %img{:alt => "Power Station", :height => "320", :src => "images/photos/3.jpg", :width => "620"}/
    %li
      %img{:alt => "Colors of Nature", :height => "320", :src => "images/photos/4.jpg", :width => "620"}/
  %span.arrow.previous
  %span.arrow.next