.row.shadow
  #skills.section
    /%img#title{:alt => "Skills", :src => "images/skills_title_03.png"}/
    %h1 {We’ve got one of the best software development instructors around.}
    %p Most developers aren’t skilled at teaching and effective communication…
    %br
    %p We’ve found the outlier.
    %br
    %p Jeff Cohen wrote the book Ruby on Rails for .NET developers. Graduating from Northwestern University in the 90s with a communications degree, he stepped prominently into the world of software development. He has worked with object-oriented programming languages and Microsoft application frameworks for more than 15 years. A former Microsoft Certified Solution Developer, he is now a Ruby on Rails core contributor. He is the founder of Purple Workshops and conducts training classes for agile software teams. Jeff is also a senior software engineer at Leapfrog Online.