.row
  #skills.section
    %img{:alt => "Who Is Involved?", :src => "images/06_who.png"}/
    %p
    Web App Dev(Ruby on Rails, HTML, CSS, Wireframing, UI Design, Prototyping)
    %li
      Ruby on Rails
      HTML/CSS
      Wireframing, UI Design, Prototyping
      %br/
    Entrepreneurship(Ideation, Business Modeling, Presentation Skills)
    %li
      Ideation
      Business Modeling
      Presentation Skills
      %br/