.row
  #skills.section
    %img#title{:alt => "Skills", :src => "images/skills_title_03.png"}/
    %h2 Web App Development
    %ul#dev-skills
      %li Ruby on Rails
      %img{:src => "images/red_hashrocket_03.png"}
      %li HTML/CSS
      %img{:src => "images/red_hashrocket_03.png"}
      %li Wireframing, UI Design, Prototyping
      %img{:src => "images/red_hashrocket_03.png"}
    %h2 Entrepreneurship
    %ul#soft-skills
      %li Ideation
      %img{:src => "images/red_hashrocket_03.png"}
      %li Business Modeling
      %img{:src => "images/red_hashrocket_03.png"}
      %li Presentation Skills
      %img{:src => "images/red_hashrocket_03.png"}
      %br/