.row.shadow
  #skills.section
    %img#title{:alt => "Skills", :src => "images/skills_title_03.png"}/
    %h1 {Here are the skills you will acquire.}
    %h2 Web App Development
    %ul#dev-skills
      .toggle{"data-target" => "1"}
        %li Ruby on Rails
      #showable-1.showable
        %p some content
      %li HTML/CSS
      %li Wireframing, UI Design, Prototyping
    %h2 Entrepreneurship
    %ul#soft-skills
      %li Ideation
      %li Business Modeling
      %li Presentation Skills