.slideout
  %p{:style => "top:200px;left:120px;", :title => "What is Ruby on Rails???"}
    %a{:href => "http://rubyonrails.com"}
      %img.spaceBottom{:alt => "Info on Ruby on Rails", :height => "260", :src => "images/img/1.jpg", :title => "Organizations Built with Ruby on Rails", :width => "620"}/
    Tens of thousands of Rails applications are already live. People are using Rails in the tiniest part-time operations to the biggest companies.
    = succeed "." do
      %a{:href => "http://rubyonrails.com"} here