.row
  #wanted.section
    %img{:alt => "Builders Wanted", :src => "images/builders_wanted_title_03.png"}/
    %img#ad{:alt => "Ambitious journey. Fierce windy city. 12 weeks of rigorous learning. Difficult problems to solve. Return to an ordinary life impossible. Unique skillset. Career opportunities. And personal happiness in case of success." , :src => "images/builders_ad.png"}/