.row
  #wanted.section
    %h1
      {BUILDERS WANTED}
      %br/
      %br/
      %p
        ambitious journey, windy city, 12 weeks of rigorous learning, difficult problems to solve, return to an ordinary life doubtful, unique skillset, career opportunities, and personal happiness in case of success.
      / %br/
      / %br/
      / It's not a classroom, it's a startup. => What
      / %br/
      / %br/
      / It's the pre-tech accelerator. => Not sure - What/Home
      / %br/
      / %br/
      / Unlock your potential. => Why
      / %br/
      / %br/
      / Passionate yet technically clueless. => Who
      / %br/
      / %br/
      

      / %img{:alt => "Welcome to Code Academy", :src => "images/02_home.png"}/
      / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "http://www.youtube.com/embed/T6MhAwQ64c0", :width => "560"}