.row
  #what.section
    %img{:alt => "Tell me more! What is Code Academy?", :src => "images/03_what.png"}/
    %h1
      We teach you how to build web applications with Ruby on Rails in an entrepreneurial context.
    %p
      12 weeks, MWF 8am - 12pm.
      %br/
      %br/
      Code Academy takes you from being a novice to having a prototype of your very own web application. 
      %br/
      %br/
      Capped at 12 students per class, this is an exclusive opportunity that gives you an enormous network of resources from the entrepreneurship and technology communities in Chicago.
      %br/
      %br/
      A highly-experienced software development instructor leads the course, alongside mentors from some of the best companies in Chicago.
      %br/
      %br/
      The program culminates in a presentation to top investors, start-ups, corporations, and software development companies.