.row
  #what.section
    %img{:alt => "Tell me more! What is Code Academy?", :src => "images/03_what.png"}/
    %h1
      We teach you how to build a web applications with Ruby on Rails in an entrepreneurial context.
    %p
      But more importantly, Code Academy exists to solve problems you care about and empower you to be successful at whatever you choose to do.  

      What is Ruby on Rails? Ruby on Rails is behind the scenes of many popular, dynamic websites, such as Groupon and Twitter. Ruby is a programming language, and Rails is a framework that provides basic functionality so you don’t have to.
    %h2
      %strong How?
    %h3
      12 weeks, 12 students, 1 awesome instructor, and more mentors than you can handle.
    %p
      The program meets for 12 weeks, three times a week (MWF 8am - 12pm).  In this three months, Code Academy takes you from being a novice to reputable aspirant - equipped with foundational development skills, and a marketable understanding of how to lead the execution of a start-up. Capped at 12 students per class, this is an exclusive opportunity that gives you an enormous network of resources from the entrepreneurship and technology communities in Chicago.

      A highly-experienced software development instructor leads the course, alongside mentors who currently work at some of the best companies in the world (link this to the “Mentors” section on the Team Page). The program culminates in a presentation to top investors, start-ups, corporations, and software development companies.

      You will receive world-class instruction, unparalleled class time, and individualized learning. You will also have access to the hardware and software of Code Academy’s headquarters outside of class time as well as optional workshops, mentorship from software developers, and networking opportunities in Chicago.
    %h2 
      %strong For who?
    %h3
      The passionate, but technically clueless.
    %p
      Code Academy is looking for passionate people who are willing to learn and are dedicated to solving problems. They are also beginners to software development, who may not know the difference between a “browser” and a “server”- but Code Academy is here for you.  Applicants should be available to meet on-location in Chicago for the duration of the program.
    %h2 
      %strong Where?
    %h3
      In the heart of the best city in the world - Chicago.
    %p
      Code Academy is located right in the heart of downtown Chicago.  The Code Academy office includes everything necessary for learning, in a neat array of iMacs positioned for pairs of users to collaborate on projects, all necessary software included. Access to this space after hours is given to all students to complete homework in a nurturing environment.