.row
  #who.section
    %img{:alt => "Who Is Involved?", :src => "images/06_who.png"}/
    %p
      Code Academy is looking for passionate people who are willing to learn and are dedicated to solving problems. They are also beginners to software development, who may not know the difference between a “browser” and a “server”- but Code Academy is here for you.  Applicants should be available to meet on-location in Chicago for the duration of the program.