.row
  #why.section
    %img{:alt => "Do you want to be a BUILDER?", :src => "images/04_why.png"}/
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "349", :src => "http://www.youtube.com/embed/gJ6APKIjFQY", :width => "560"}
    %img{:alt => "It will change your life.", :src => "images/04_it_will_change_your_life.png"}/