.row
  #why.section
    %img{:alt => "Do you want to be a BUILDER?", :src => "images/04_why.png"}/
    / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "349", :src => "http://www.youtube.com/embed/gJ6APKIjFQY", :width => "560"}
    / %img{:alt => "It will change your life.", :src => "images/04_it_will_change_your_life.png"}/
    %h2
      It can get you an awesome job.
    %p
      Employers are especially desperate for people who have both the necessary business skills and technical foundation. This is what Code Academy will teach you, and as a result, will make you miles more marketable and unique to potential employers.
    %h2
      You'll enjoy it.
    %h2
      It's empowering.
    %p
      Coding doesn’t have to be a black hole you’ll never understand. With Code Academy, you are no longer just an admirer or consumer of what code produces. There’s no greater thrill than being able to take all the ideas you’ve had in the back of your head and turn them into something tangible and real. At Code Academy you will do just that.
    %h2
      It's a meaningful experience.
    %p
      Code Academy will unlock your perspective in terms of what you think you can accomplish.