.row
  #why.section
    %img{:alt => "Do you want to be a BUILDER?", :src => "images/04_why.png"}/
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "349", :src => "http://www.youtube.com/embed/gJ6APKIjFQY", :width => "560"}
    %img{:alt => "It will change your life.", :src => "images/04_it_will_change_your_life.png"}/
    %h2
      It can get you a job.
    %p
      People who know how to code often experience "negative employment" - there are more jobs than there are coders. Employers are especially desperate for people who have both the necessary business skills and technical foundation. This is what Code Academy will teach you, and as a result, will make you miles more marketable and unique to potential employers.
    %h2
      You'll actually enjoy it.
    %p
      Web applications are pretty cool. Whether it’s Twitter, Facebook, or Groupon, the technology and business process behind it all is fascinating to understand the tech and business processes that drove their success. Besides, there’s no greater thrill than being able to take all the ideas you’ve had in the back of your head, and with Code Academy, turn them into something tangible and real.
    %h2
      It's empowering.
    %p
      Coding doesn’t have to be a black hole you’ll never understand. With Code Academy, you are no longer just an admirer or consumer of what code produces...but a builder. Think about all the pains and problems you have wanted to solve, and how you would no longer feel limited by your experience, or have to rely on anyone else to solve them. Code Academy empowers you in teaching you to wield this tool and what it can enable you to do.
    %h2
      It's a meaningful experience.
    %p
      Code Academy is an unprecedented opportunity. It gives you the chance to interact with the best in the Chicago entrepreneurial and tech communities, and open doors to networks you would not have encountered otherwise. Additionally, in terms of the quality of the instruction and experience you will receive, Code Academy will unlock your perspective in terms of what you think you can accomplish.